<!DOCTYPE html>
<html>

<head>
    <title>To-Do List</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>
    <h1>To-Do List</h1>

    <% if (query.alert==='empty' ) { %>
        <p class="alert">Task title cannot be empty!</p>
        <% } else if (query.alert==='added' ) { %>
            <p class="alert success">Task added successfully!</p>
            <% } else if (query.alert==='deleted' ) { %>
                <p class="alert delete">Task deleted successfully!</p>
                <% } else if (query.alert==='updated' ) { %>
                    <p class="alert update">Task updated successfully!</p>
                    <% } %>

                        <form class="mainForm" action="/add" method="POST">
                            <input type="text" name="title" placeholder="Enter task" />
                            <select class="priority" name="priority">
                                <option value="Urgent">Urgent</option>
                                <option value="High">High</option>
                                <option value="Low" selected>Low</option>
                            </select>
                            <button class="btnAdd"><i class="ri-add-line"></i></button>
                        </form>

                        <ul>
                            <% tasks.forEach(task=> { %>
                                <li>
                                    <strong>
                                        <%= task.title %>
                                    </strong> - <%= task.priority %>
                                        <a href="/edit/<%= task._id %>"><i class="ri-pencil-fill"></i></a>
                                        <form action="/delete/<%= task._id %>" method="POST" style="display:inline;">
                                            <button type="submit"><i class="ri-delete-bin-fill"></i></button>
                                        </form>
                                </li>
                                <% }) %>
                        </ul>
</body>

</html>